version: "3.9"

services:
  docs:
    build:
      context: .
      dockerfile: Dockerfile.docs
    command: [ "mkdocs", "serve", "-a", "0.0.0.0:8000" ]
    ports:
      - "8000:8000"
    volumes:
      - ./docs:/app/docs:ro
      - ./mkdocs.yml:/app/mkdocs.yml:ro
    working_dir: /app
